<ion-grid style="height: 100%">
    <!-- <ion-row justify-content-center align-items-center style="height: 100%"> -->

        <form>


            <ion-img width="50 px" height="50 px" src="../assets/Picture8.png"></ion-img>

            <!-- BUTTON -->
            <ion-button color="danger" expand="full" (click)="loginstudent()">
                PENGGUNA PERTAMA KALI
              </ion-button>
            <ion-button color="secondary" expand="full" (click)="loginstudent()">
                  LOG MASUK
                </ion-button>

        </form>

    <!-- </ion-row> -->
  </ion-grid>

